# Environment
NODE_ENV=development

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/massas_sao_jose

# Server
PORT=3333

# JWT Secrets
JWT_ACCESS_SECRET=sua-chave-secreta-para-access-token-aqui-mude-em-producao
JWT_REFRESH_SECRET=sua-chave-secreta-para-refresh-token-aqui-mude-em-producao
